.benefits-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    width: 280px; /* Largura fixa */
    min-height: 380px; /* Altura mínima para alinhar todos os cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui espaço uniformemente */
    align-items: center;
    overflow: hidden; /* Impede que o conteúdo ultrapasse os limites */
}

.benefits-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Configuração para alinhar os textos dentro do card */
.benefits-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ajusta os elementos internamente */
    align-items: center;
    text-align: center;
    flex-grow: 1; /* Permite que o texto e o botão ocupem o mesmo espaço */
    width: 100%;
}

.benefits-card-info h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 8px;
}

.benefits-card-info p {
    font-size: 1em;
    color: #555;
    margin: 4px 0;
    overflow-wrap: break-word;
}

.benefits-card-info p:last-of-type {
    font-weight: bold;
    color: #333;
}

/* Ajuste específico para o botão */
.benefits-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    width: 100%; /* Garante que o botão ocupe 100% da largura do card */
}

.benefits-actions button {
    width: 90%; /* Botão ocupa quase toda a largura, mas com margem interna */
    max-width: 250px; /* Define um tamanho máximo para o botão */
    padding: 8px 16px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos no tamanho */
    min-height: 40px; /* Altura mínima uniforme para todos os botões */

}

.benefits-content {
    display: grid; /* Usa grid para organizar os cards */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Garante cards do mesmo tamanho */
    gap: 16px; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: start; /* Garante que os elementos fiquem alinhados ao topo */
    padding: 16px;
}

@media (max-width: 768px) {
    .benefits-content {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta para telas menores */
    }
}

.benefit-image {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 16px;
}

.result-messages {
    margin: 16px 0;
    text-align: center;
}

.result-messages .error {
    color: red;
}

.result-messages .success {
    color: green;
}
