.app-container {
  text-align: center;
  padding: 20px;
}

/* .app-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.app-nav ul li {
  display: inline;
}

.app-nav ul li a {
  text-decoration: none;
  color: #192f59;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #192f59;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.app-nav ul li a:hover {
  background-color: #192f59;
  color: white;
} */